/*Navbar*/
.sidenav-trigger{
	position: absolute;
	top: 2px;
	left: 20px;
	z-index: 999;
	color: white;
}

.social-list{
	position: absolute;
	right: 20px;
	top: 10px;
	padding-right: 20px;
}

.profile{
	margin-top: 10px;
	margin-left: 20px;
}
/*End Navbar*/

/*Parallax*/
.parallax-container{
	box-shadow: 0px 5px 4px rgba(0,0,0,.5);

}

.slider{
	margin-top: -53px;
	z-index: -1;
}

.sidenav{
	width: 300px;
}


.slider .caption{
	margin-top: 50px;
}

.slider h1,h2{
	text-shadow: 0px 1px 1px rgba(0,0,0.7);
}

.parallax-container{
	margin-top: -100px;
	z-index: -99;
}

.para2{
	margin-top: 0;
	height: 150px;
	opacity: .7;
}


.gallery img{
	width: 100%;
	margin-top: 10px; 
}

footer{
	padding: 5px 0;
	margin-top: -10px; 
}


@media (min-width: 992px){
	.slider{
		margin-top: -36px;
		z-index: -1;
	}

	.gallery div{
		padding: 0 0;
	}

	.gallery div .odd{
		width: 100%;
		height: 250px;
	}

	.gallery div .even{
		width: 100%;
		height: 300px;
	}

	.gallery div .minus{
		margin-top: -50px !important;
	}
}